@model IEnumerable<Class>

@{
    ViewData["Title"] = "Index";
}

<h1>Groups</h1>
@if (User.IsInRole("Admin"))
{
    <p>
        <a asp-action="Create">Add group</a>
    </p>
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ClassName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Teacher)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Capacity)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ClassName)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.Teacher.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Capacity)
            </td>
                @if (User.IsInRole("Admin"))
                {
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.ClassID">Edit</a> |
                        <a asp-action="Delete" asp-route-id="@item.ClassID">Delete</a>
                    </td>
                }
        </tr>
}
    </tbody>
</table>
